@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-100;
  @apply text-gray-900;
}

@keyframes textGradient {
  0%   { background-position:   0% 50%; }
  25%  { background-position: 100% 50%; }
  50%  { background-position:  50% 50%; }
  75%  { background-position:   0% 50%; }
  100% { background-position: 100% 50%; }
}

/* 可选：如果想让文字裁剪更干净 */
h1.gradient-text {
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}